body {
  padding-top: 50px;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] {
    min-height: 50px;
    margin: 0px;
    padding-left: 0px;
}

li
{
    display: inline;
}

.label {
    font-size: 125%;
}

.playerlist {
    min-height: 55px !important;
    /*width: 100%;*/
}

.playerlist > li {
    background-color: #337ab7;
    border: none;
    border-radius: .25em;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 75px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    padding-top: 10px;
}


.tier-0 {
    width: 150px;
}

.tier-1 {
    width: 125px;
}

.tier-2 {
    width: 100px;
}

.tier-3 {
    width: 75px;
}

.tier-4 {
    width: 75px;
}